.wrapper {
  padding: 8px 25px;
  border-radius: 8px;
  outline: none;
  background-color: #f28e19;
  border: none;
  box-shadow: 0px 3px 4px rgb(0 0 0 / 50%);
  text-transform: uppercase;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}
