* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

input {
  background-color: transparent;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}
